/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$couleur-fond: #00203FFF;
$couleur-formes: #ADEFD1FF;
$couleur-formes2: #97BC62FF;

body {
  background-color: $couleur-fond;
  color: $couleur-formes;
}

