<div class="m-2">
  <div
    [ngClass]="{'joueurSelectionne': joueurCourant===joueurEnum.JOUEUR1&&!jeuxTermine, 'joueurGagnant': joueurGagnant===joueurEnum.JOUEUR1&&jeuxTermine}"
    class="joueur m-2 p-2 border rounded">Joueur 1 ({{joueursConstantes.JOUEUR1_AFFICHAGE}})
  </div>
  <div
    [ngClass]="{'joueurSelectionne': joueurCourant===joueurEnum.JOUEUR2&&!jeuxTermine, 'joueurGagnant': joueurGagnant===joueurEnum.JOUEUR2&&jeuxTermine}"
    class="joueur m-2 p-2 border rounded">Joueur 2 ({{joueursConstantes.JOUEUR2_AFFICHAGE}})
  </div>
</div>

@if (jeuxTermine) {
  <div class="border border-success rounded mp-2 m-3">
    <div>Le jeux est terminé.</div>
    @if (joueurGagnant===joueurEnum.JOUEUR1) {
      <div>Le gagnant est le Joueur 1</div>
    }
    @if (joueurGagnant===joueurEnum.JOUEUR2) {
      <div>Le gagnant est le Joueur 2</div>
    }
    @if (joueurGagnant!==joueurEnum.JOUEUR1 && joueurGagnant!==joueurEnum.JOUEUR2) {
      <div>Il n'y a pas de gagnant</div>
    }
  </div>
}

